
.sidebar {
  float: left;
  list-style: none;
  width: 20%;
  text-align: center;
}

.sidebar__folder-list {
  text-align: center;
  border: 2px solid black;
  padding: 5px;
}

.main {
  width: 60%;
  float: right;
  list-style: none;
}

.main__note-list {
  border: 2px solid black;
}

.header {
  text-align: center;
}

.main__note-item {
  border: 1px solid black;
  padding: 10px;
}

.folder__button--active {
  color: green;
}