/* primary app */

html, body {
  font-family: 'Gayathri', sans-serif;
  background-color: #6B3A03;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.flex {
  display: flex;
  width: 100%;
  align-items: center;
}

.app {
  text-align: center;
  display: flex;
  margin-top: 120px;
}

.leftSide {
  flex: 1;
}


/* header */

.header { 
  font-family: 'Chilanka', cursive;
  font-size: 40px; 
  font-weight: bolder;
  margin: 0px;
  padding: 30px 0px;
  background-color: #6B3A03;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
}

h1 {
  margin: 0px;
  padding: 0px;
}

h1:hover {
  color: #B8752A;
  transition: .1s all;
}

/* sidebar */

.sidebar {
  list-style: none;
  text-align: right;
  flex: 0.3;
  background-color: #B8752A;
  padding-top: 30px;
  border-right: 1px solid #0E516B;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding-bottom: 30px;
}

/* main */

.main {
  flex: 1;
  list-style: none;
  background-color: #2A8FB8;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 30px;
}